

#no-data{
    background-image: url('/assets/img/no-data.png');
    background-size: 100px 100px;
    width: 100%;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
   }
   
   #profile-pic-wrapper{
       position: relative;
       width: 150px;
       height: 150px;
   }
   
   
   #profile-pic:hover + #profile-pic-uploader-btn {
    display: block;
   }
   
   #profile-pic-uploader-btn:hover {
       display: block;
      }
      
   
   #profile-pic-uploader-btn{
       position: absolute;
       top:0;
       left:120px;    
       display: none;
   }
   
   .card{
       background: none !important;
   }
   