<div class="row">
    <div class="col-md-12">
        <hr>
        <div class="mr-auto">
            <button *ngIf="!isProcessing" (click)="openPrevious()" class="btn left">
                <i class="fas fa-arrow-left black"></i>
            </button>
        </div>
        <div class="ml-auto">
            <button [disabled]="delDisable" class="btn right" [ngClass]="{'btn right' : true, 'border' : toggler.DELETE}"
                (click)="deleteAction()">
                <i [ngClass]="{
                    'fas fa-trash-alt' : true,
                    'red' : !delDisable,
                    'gray' : delDisable}">
                </i>
            </button>
            <button [disabled]="folderDisable" (click)="createNewFolder()" class="btn right">
                    <i [ngClass]="{
                        'fas fa-folder-plus' : true,
                        'green' : !folderDisable,
                        'gray' : folderDisable}">
                    </i>
            </button>
            <button [disabled]="fileDisable" (click)="createNewFile()" class="btn right">
                    <i [ngClass]="{
                        'fas fa-file-upload' : true,
                        'green' : !fileDisable,
                        'gray' : fileDisable}">
                    </i>
            </button>

            <button [disabled]="uploadDisable" class="btn right" id="upload-docs-button"
                onclick="document.getElementById('docs-uploader').click()">
                <i [ngClass]="{
                    'fas fa-cloud-upload-alt' : true,
                    'green' : !uploadDisable,
                    'gray' : uploadDisable}">
                </i>
            </button>

            <input id="docs-uploader" (change)="fileReadyToUpload($event)" type="file" name="img" multiple
                style="display:none">

            <button [ngClass]="{'btn right' : true, 'border' : toggler.SELECT}"
                [disabled]="checkDisable" (click)="toggleValue(toggler.SELECT_STR)">
                <i [ngClass]="{
                    'fas fa-check-square' : true,
                    'green' : !checkDisable,
                    'gray' : checkDisable}">
                </i>
            </button>
            <button [disabled]="refreshDisable" (click)="refresh()" *ngIf="!isProcessing" class="btn right">
                    <i [ngClass]="{
                        'fas fa-sync-alt green' : true,
                        'green' : !refreshDisable,
                        'gray' : refreshDisable}">
                    </i>
            </button>
            <button *ngIf="isProcessing" class="btn right none spinner-border text-primary" role="status">
                <span class="sr-only"></span>
            </button>
            <button [disabled]="unlockDisable" class="btn right">
                    <i [ngClass]="{
                        'fas fa-lock-open' : true,
                        'green' : !unlockDisable,
                        'gray' : unlockDisable}">
                    </i>
            </button>
            <button [disabled]="lockDisable" class="btn right">
                    <i [ngClass]="{
                        'fas fa-lock' : true,
                        'green' : !unlockDisable,
                        'gray' : lockDisable}">
                    </i>
            </button>
        </div>

    </div>

    <div class="col-md-12">
        <hr>
        <ul class="bd bo-bg no-bd" *ngIf='folderTreeTracker != null'>
            <li *ngFor="let folder of getLastThreeFolders();">
                <p (click)="openFolder(folder, folder)">
                    {{folder.getFolderName()}}
                </p>
            </li>
        </ul>
        <br>
    </div>

</div>

<div class="row">
    <hr>
    <div [ngClass]="{'folders col-12' : true,
                        'no-data' : nodata}">
        <div class="row">
            <ng-container *ngIf="selectedFolder != null">
                <div [ngClass]="{'folder hover': true,
                    'select' : toggler.SELECT,
                    'selected' : isThisSelected(folder),
                    'delete' : toggler.DELETE}" *ngFor="let folder of selectedFolder.getSubFolders()">
                    <p *ngIf="toggler.DELETE" class="folder-delete-icon">X</p>
                    <div (click)="fileAction(folder)">
                        <img class="folder-icon"
                            src="http://icons.iconarchive.com/icons/dtafalonso/yosemite-flat/256/Folder-icon.png">
                    </div>
                    <input class="folder-name" (change)="updateFolderName($event.target.value, folder)"
                        [value]="folder.getFolderName()">
                </div>
            </ng-container>

            <ng-container *ngIf="toggler.FOLDER_ADD">
                <div class="new-folder">
                    <div>
                        <img class="new-folder-icon"
                            src="http://icons.iconarchive.com/icons/dtafalonso/yosemite-flat/256/Folder-icon.png">
                    </div>
                    <input (focusout)="addNewFolder($event.target.value)" [value]="getValidNewFolderName(null)"
                        id="new-folder-name" class="new-folder-name" type="text">
                    {{focusThis("new-folder-name")}}
                </div>
            </ng-container>

            <ng-container *ngIf="selectedFolder != null">
                <ng-container *ngFor="let file of selectedFolder.getFiles()">
                    <div *ngIf="file.getFileName() != 'init.readme'" [ngClass]="{'file hover': true,
                        'select' : toggler.SELECT,
                        'selected' : isThisSelected(file),
                        'delete' : toggler.DELETE}">
                        <p *ngIf="toggler.DELETE" class="file-delete-icon">X</p>
                        <div (click)="fileAction(file)">
                            <img class="file-icon" src="assets/img/icons/{{getFileType(file.getFileName())}}.png">
                        </div>
                        <input class="file-name" (change)="updateFileName($event.target.value, file)" type="text"
                            [value]="file.getFileName()">
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="toggler.FILE_ADD">
                <div class="new-file">
                    <div>
                        <img class="new-file-icon" src="assets/img/icons/txt.png">
                    </div>
                    <input (focusout)="addNewFile($event.target.value)" [value]="getValidNewFileName(null)"
                        id="new-file-name" class="new-file-name" type="text">
                    {{focusThis("new-file-name")}}
                </div>

            </ng-container>
        </div>
    </div>
</div>

<hr>

<div style="text-align:center">
        <err-succ></err-succ>
</div>
