@import "assets/css/files.css";
@import "assets/css/breadcrumb.css";

html {
    font-size: 14px;
    
  }

#dummy-div{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    padding: 0;
    margin: 0;    
    background-image: linear-gradient(to bottom, #fcd9f3, #dad0f6, #aec9f1, #82c2df, #63b9c0, #59b3ab, #5aab94, #61a37b, #619f6f, #639c61, #679754, #6b9346);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.left{
    float: left;
}
.right{
    float: right;
}
.outline {
    border: 1px solid #86A8DF;
}
body{
    background: none;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0; 
}
.middle{
    position: fixed;
    top: 45%;
    left:45%;
    font-size: 2em;
}

  @media only screen and (min-width: 320px) and (max-width: 550px){ 
      
    #navbar{
        height: 95px;
    }

    #contentWrapper{
        margin-top: 95px;
    }
        
    #side-panel {
        display: none;
        width: 80%;
        z-index: 1;
        border-radius: 10px;
        position: fixed;
        left: 0;
        padding: 5px;
        min-height: 100vh;
        padding-bottom: 5px;   
        overflow: scroll;
        background-color: white;

    }
    #db-content{
        width: 100%;
    }

    #nav-search{
        display: none;
    }

    #com-search-toggle{
        display: inline;
        z-index: 2;
    }

    #com-search{
        display: none;
    }

    #formwWrapper {
        width: 100%;
    }
  }

@media only screen and (min-width: 551px) and (max-width: 767px){ 
    #navbar{
        height: 45px;
    }

    #contentWrapper{
        margin-top: 45px;
    }

    #side-panel {
        display: block;
        position: fixed;
        left: 0;
        padding: 5px;
        border-radius: 10px;
        padding: 0;
    
        padding-bottom: 5px; 
        z-index: 1;
        width: 30%;
        
    }

    #side-panel-support{
        width: 30%;
        display: block;

    }
    #db-content{
        width: 70%;
    }


    #com-search-toggle{
        display: inline;
        z-index: 2;

    }

    #com-search{
        display: none;
    }

    #nav-search{
        display: none;
    }

    #formwWrapper {
        width: 90%;
    }
 }

@media only screen and (min-width: 768px) and (max-width: 991px){ 
    #navbar{
        height: 45px;
    }
    #contentWrapper{
        margin-top: 45px;
    }
    #side-panel-support{
        width: 30%;
        display: block;

    }

    #side-panel {
        display: block;
        position: fixed;
        left: 0;
        padding: 5px;
        width: 30%;
        border-radius: 10px;
        padding: 0;
      
        padding-bottom: 5px;
         z-index: 1;

    }
    #db-content{
        width: 70%;
    }

    #nav-search{
        display: inline;
    }

    #com-search-toggle{
        display: none;
    }

    #com-search{
        display: inline;
    }
    #formwWrapper {
        width: 90%;
    }
 }

@media only screen and (min-width: 992px) and (max-width: 1999px){ 
    #navbar{
        height: 45px;
    }
    #contentWrapper{
        margin-top: 45px;
    }
    #side-panel-support{
        width: 25%;
        display: block;
    }

    #side-panel {
        display: block;
        position: fixed;
        left: 0;
        padding: 5px;
        width: 25%;
        border-radius: 10px;
        padding: 0;
      
        padding-bottom: 5px;             
        z-index: 1;

    }
    #db-content{
        width: 75%;
    }

    #nav-search{
        display: inline;
    }
    #com-search-toggle{
        display: none;
    }

    #com-search{
        display: inline;
    }

    #formwWrapper {
        width: 90%;
    }

 }


 @media only screen and (min-width: 2000px) and (max-width: 8000px){ 
    #navbar{
        height: 45px;
    }
    #contentWrapper{
        margin-top: 45px;
    }
    #side-panel-support{
        width: 25%;
        display: block;
    }

    #side-panel {
        display: block;
        position: fixed;
        left: 0;
        padding: 5px;
        width: 25%;
        border-radius: 10px;
        padding: 0;       
        padding-bottom: 5px;             
        z-index: 1;

    }
 
    #db-content{
        width: 75%;
    }

    #nav-search{
        display: inline;
    }
    #com-search-toggle{
        display: none;
    }

    #com-search{
        display: inline;
    }

    #formwWrapper {
        width: 90%;
    }


 }

    
