<div class="timeSheetsWrapper">
    <div *ngIf="tsWrapper"
        class=" shadow-lg p-3 mb-5 bg-muted rounded"
        id="ts-options">

        <div class="row">
            <div class="col-md-4">
                <label class="gray" for="clientName">Location:</label>
                <p id="clientName" class="form-control-static">
                    {{selectedProject}}</p>
            </div>
            <div class="col-md-4">
                <label class="gray" for="location">Project:</label>
                <p id="location" class="form-control-static no-bg bg-round">{{projectDetails}}</p>
            </div>
            <div class="col-md-4">
                <label class="gray" for="status">Status:</label>
                <p id="status" [ngClass]="{'form-control-static no-bg bg-round' : true,
                    'blue' : curStatus==tsStatus[0],
                    'blue' : curStatus==tsStatus[1],
                    'green' : curStatus==tsStatus[2],
                    'red' : curStatus==tsStatus[3]}">
                    {{curStatus}}</p>

            </div>
        </div>
        <div class="form-group row">

            <div class="col-md-6">
                <label class="gray" for="clientName">Load Older:</label>
                <select class="form-control no-bg bg-round" name="tsType"
                 [(ngModel)]="tsWrapper" id="clientName"
                    (change)="getSpecificTimeSheets()">
                    <option *ngFor="let ts of oldTsInfo"
                     class="bg-round"
                     [ngValue]="ts">
                        {{ts.startDate}} - {{ts.endDate}}
                    </option>
                </select>
            </div>

        </div>
        <div class="form-group row">

            <div class="col-md-4">
                <label class="gray" for="startDate">Start:</label>
                <p id="startDate" class="form-control-static no-bg bg-round">{{startDate | date:'yyyy-MM-dd'}}</p>
            </div>
            <div *ngIf="curTimesheetType == 'Custom'" class="col-md-4">
                <label class="gray" for="endDate">End:</label>
                <p id="endDate" class="form-control-static no-bg bg-round">{{endDate | date:'yyyy-MM-dd' }}</p>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <div class="col-md">
                <label class="gray" for="hoursW">Total Hours:</label>
                <p id="thrs" class="form-control-static no-bg bg-round">{{tsWrapper.totalHours}}</p>
            </div>
            <div class="col-md">
                <label class="gray" for="hoursW">Overtime Hours:</label>
                <p id="otHrs" class="form-control-static no-bg bg-round">{{tsWrapper.overTime}}</p>
            </div>
        </div>
        <div class="form-group row" *ngIf="desc && curStatus==tsStatus[2]">
            <div class="col-md">
                <label class="gray" for="daysW">Comments:</label>
                <p id="cmm" class="form-control-static no-bg bg-round">{{desc}}</p>
            </div>
        </div>

        <ng-container *ngIf="curStatus!=tsStatus[2]">
            <div class="form-group row">
                <div class="col-md-6">
                    <textarea rows="3" class="form-control" [(ngModel)]="desc"
                        placeholder="Comments..">{{desc}}</textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="approve()">Approve</button>
            <button style="margin: 6px;" type="submit" (click)="reject()" class="btn btn-primary">Reject</button>
        </ng-container>

        <button *ngIf="tsWrapper" type="submit" class="btn btn-primary" (click)="viewTimeSheets = !viewTimeSheets">View Timesheets</button>


    </div>



    <ng-container *ngIf="viewTimeSheets">
        <div class="shadow-lg p-3 mb-5 bg-muted rounded"
            *ngIf="tsWrapper && tsWrapper.timesheets && tsWrapper.timesheets.length > 0">
            <p style="font-weight: bolder">
                {{tsWrapper != null ?  ' From ' + tsWrapper.startDate.toDateString() : ''}}

                {{tsWrapper != null ?  ' To ' + tsWrapper.endDate.toDateString() : ''}}
            </p>

            <div class="table-responsive">
                <table class="table table-condensed  table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Day</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Hours</th>
                            <th>Overtime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ts of tsWrapper.timesheets; let i = index">
                            <td>{{months[tsWrapper.timesheets[i].timesheetDate.getMonth()] + "-" + tsWrapper.timesheets[i].timesheetDate.getDate()}}
                            </td>
                            <td>{{days[tsWrapper.timesheets[i].timesheetDate.getDay()]}}</td>
                            <td>
                                <input disabled name="st" [(ngModel)]="tsWrapper.timesheets[i].startTime" type="text"
                                    placeholder="Start Time">
                            </td>
                            <td>
                                <input disabled name="ed" [(ngModel)]="tsWrapper.timesheets[i].endTime" type="text"
                                    placeholder="End Time">
                            </td>
                            <td>
                                <input disabled name="th" [(ngModel)]="tsWrapper.timesheets[i].totalHours" type="text"
                                    placeholder="Total Hours">
                            </td>
                            <td>
                                <input disabled name="ot" [(ngModel)]="tsWrapper.timesheets[i].overTime" type="text"
                                    placeholder="Overtime">

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
    <div style="text-align:center">
            <err-succ></err-succ>
    </div>
</div>