
  <div class="row">
      <div id="search-wrapper" *ngIf="employee == null" 
      class="col-2"
       style="margin-left: 6px;margin-top: 6px; padding: 6px;">
        <form id="search-form-wrapper" autocomplete="off" action="">
          <div class="autocomplete"
            style="background: white; padding: 10px; border: 2px solid rgba(139,0,0,0.5); border-radius: 20px; min-width: 300px;">
            <input id="myInput" style=" width: 85%; background: white; border:0px; border-bottom: 1PX SOLID gray;" type="text"
              name="myCountry" placeholder="Employee Name">
            <button id="emp-search" class="btn" type="submit" style="border: 0px; margin: 0; height: 100%;"
              data-target="#navbarTogglerDemo01" (click)="search($event)" aria-controls="navbarTogglerDemo01">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>

    <ng-container *ngIf="employee != null" >
      <div class="col" id="nav-wrapper">
        <ul class="bg-info">
          <li><a [routerLink]="['portfolio']"><b>Portfolio</b></a></li>
          <li><a [routerLink]="['experience']"><b>Employment</b></a></li>
          <li><a [routerLink]="['documents']"><b>Documents</b></a></li>
          <li><a [routerLink]="['timesheets']"><b>Timesheets</b></a></li>
        </ul>
      </div>
      <div id="content-wrapper" class="card">
        <router-outlet></router-outlet>
      </div>

    </ng-container>

  </div>
