
.autocomplete{
    -webkit-box-shadow: 15px 3px 30px -1px rgba(1, 87, 155, 1);
    -moz-box-shadow:    15px 3px 30px -1px rgba(1, 87, 155, 1);
    box-shadow:         15px 3px 30px -1px rgba(1, 87, 155, 1);

}

#nav-wrapper{
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-radius: 15px;
}

ul{
    border-radius:15px 15px 0 0;
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}
    
li{

    padding-top: 8px;
    padding-bottom: 6px;
    margin: 0px;
    text-align: center;
    display: table-cell; 
    color: white;

}
li > a {
    color: whitesmoke;
}

#content-wrapper{
    border: 0px solid #b8b6b6;
    width: 100%;    
    padding: 1%;
    display: inline-block;
    background: none;
}

#myInput:focus{
    outline: none;
}





  