
.employessListWrapper{
    border-radius: 15px;
    border: 0px solid gray;
    background-color: rgba(136, 135, 135,0.2);
    width: 100%;
	display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    border: 0px solid red;
}

.empList-nav{
    display: inline-block;
    width: 100%;
}

.emp-dropdown-wrapper{
    position: relative;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    float: right;
    height: 30px;
}

thead {
    background-color: beige;
}

.emp-fields-dropdown {
    list-style-type: none;
    position: absolute; /* Sit on top of the page content */
    top: 30px; 
    right: 0;
    background-color:white; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    min-width: 130px;
    padding: 0;
    margin: 0;
    border: 1px solid gray;
    border-radius: 6px;
    
  }


  .emp-fields-dropdown > li {
     
      padding: 5px;
    
  }

  .emp-fields-dropdown > li:hover {
      font-weight: bold;
  }

.left-icon{
    float: left;
    margin-right: 10%;
}

.page-item{
    width: 50px;
}
