<div id="employee-container">

  <h2>Employment History</h2>

  <div class="table-responsive" style="padding:5px;">
      <table id="table-id" class="table table-hover table-bordered table-striped employee-table" >
          <thead>
            <tr class="bg-default">
              <th>Job Title</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Company</th>
              <th>Active</th>
              <th>Salary</th>
              <th>Work Status</th>
              <th (click)="toggleCollapse('new',null)">[+]</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employmentObj of cur_employeeObj.employmentObj" (click)="showDetails(employmentObj)">
              <td>{{employmentObj.jobTitle}}</td>
              <td>{{employmentObj.startDate}}</td>
              <td>{{employmentObj.endDate}}</td>
              <td>{{employmentObj.client != null ? employmentObj.client.clientName : ""}}</td>
              <td>{{employmentObj.status}}</td>
              <td>{{employmentObj.hourlyWagePay}}</td>
              <td>{{employmentObj.empAuthStatus}}</td>
              <td><span (click)="delete(employmentObj.employmentId)"><i class="far fa-trash-alt"></i></span><span></span>
                <span>&nbsp;</span>
                <span (click)="toggleCollapse('edit', employmentObj)"><i class="far fa-edit"></i></span>
            </tr>
          </tbody>
        </table>
  </div>

  <div id="no-data" *ngIf="cur_employmentObj == null">
    <p></p>
  </div>

  <div id="collapsible_edit_new" style="display:none; margin-top:6px; padding:3px;">

      <form ngNativeValidate
        (ngSubmit)="validateAndSubmit(['address-req-0','address-req-1','address-req-2'])">
        
        <div class="col-12">
            <p><b> JOB INFO: </b> </p>
        </div>

        <div class="form-row exp-form">
            <div class="form-group  col-4">
                <label class="control-label">Status:</label>
                <input type="text" class="form-control address-req-0" placeholder="Job Status" name="empStatus"
                  [(ngModel)]="temp_EmploymentObj.status" required>
              </div>
        </div>
        <div class="form-row exp-form">

              <div class="form-group  col-6">
                <label class="control-label">Start Date:</label>
                <input type="date" class="form-control address-req-0" placeholder="Job start date" name="jobStart"
                  [ngModel]="temp_EmploymentObj.startDate" (change)="temp_EmploymentObj.startDate=$event.target.value">
              </div>
      
              <div class="form-group  col-6">
                <label class="control-label" for="pwd">End Date:</label>
                <input type="date" class="form-control" placeholder="Job End Date" name="jobEnd"
                  [ngModel]="temp_EmploymentObj.endDate" (change)="temp_EmploymentObj.endDate = $event.target.value">
              </div>
      
              <div class="form-group  col-6">
                <label class="control-label" for="pwd">Hourly Wage Receive:</label>
                <input type="text" class="form-control" placeholder="Wage Received" name="recWage"
                  [(ngModel)]="temp_EmploymentObj.hourlyWageRecv">
              </div>
      
              <div class="form-group  col-6">
                <label class="control-label" for="pwd">Hourly Wage Pay :</label>
                <input type="text" class="form-control" placeholder="Wage Pay" name="payWage"
                  [(ngModel)]="temp_EmploymentObj.hourlyWagePay">
              </div>
      
              <div class="form-group  col-6">
                <label class="control-label" for="pwd">Job Title:</label>
                <input type="text" class="form-control address-req-0" placeholder="Job title" name="jbTitle"
                  [(ngModel)]="temp_EmploymentObj.jobTitle">
              </div>
      
              <div class="form-group  col-6">
                <label class="control-label" for="pwd">Technology:</label>
                <input type="text" class="form-control address-req-0" placeholder="Technology used in job" name="tech"
                  [(ngModel)]="temp_EmploymentObj.technology">
              </div>
      
              <div class="form-group  col-12">
                <label class="control-label" for="pwd">Job Description</label>
                <input type="text" class="form-control address-req-0" placeholder="Job Description" name="jobDesc"
                  [(ngModel)]="temp_EmploymentObj.jobDesc">
              </div>
        </div>

        <div class="col-12">
            <br>
            <p> <b>VENDOR INFO: </b></p>
        </div>

        <div class="form-row exp-form">      
            <div class="form-group col-12">
              <label for="pwd">Vendor Name:</label>
              <input type="text" class="form-control" placeholder="Vendor Name" name="vendorName"
                [(ngModel)]="temp_VendorObj.vendorName">
            </div>
            <div class="form-group col-12">
              <label class="control-label" for="pwd">Address Line 1:</label>
              <input type="text" class="form-control address-req-1" placeholder="Full Address" name="vendAdd1"
                [(ngModel)]="temp_VendorAddressObj.addressLine1">
            </div>
            <div class="form-group col-12">
              <label class="control-label" for="pwd">Address Line 2:</label>
              <input type="text" class="form-control" placeholder="eg. building, suite..." name="vendAdd2"
                [(ngModel)]="temp_VendorAddressObj.addressLine2">
            </div>
            <br>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">City:</label>
              <input type="text" class="form-control address-req-1" placeholder="City" name="vendCity"
                [(ngModel)]="temp_VendorAddressObj.city">
            </div>

            <div class="form-group col-4">
              <label class="control-label" for="pwd">State:</label>
              
              <select class="form-control address-req-1" type="text" placeholder="State" name="vendState"
              [(ngModel)]='temp_VendorAddressObj.state'>
            <ng-container *ngFor="let state of getStates()">
              <option>{{state.value}}</option> </ng-container>
            </select>
            
              </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">Zip:</label>
              <input type="text" class="form-control address-req-1" placeholder="Postal Code" name="vendZip"
                [(ngModel)]="temp_VendorAddressObj.zipCode">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">HR/Manager:</label>
              <input type="text" class="form-control" placeholder="HR or Manager name" name="vendMan"
                [(ngModel)]="temp_VendorObj.vendorHrName">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">Phone:</label>
              <input type="text" class="form-control" placeholder="HR/Manager Phone" name="vendManPhone"
                [(ngModel)]="temp_VendorObj.vendorHrPhone">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">Email:</label>
              <input type="text" class="form-control" placeholder="HR/Manager Email" name="vendManEmail"
                [(ngModel)]="temp_VendorObj.vendorHrEmail">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">Contact Name:</label>
              <input type="text" class="form-control" placeholder="Vendor Contact Name" name="vendCntName"
                [(ngModel)]="temp_VendorObj.vendorContactName">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">Phone:</label>
              <input type="text" class="form-control" placeholder="Vendor Contact Phone" name="vendCntOhone"
                [(ngModel)]="temp_VendorObj.vendorContactPhone">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">Email:</label>
              <input type="text" class="form-control" placeholder="Vendor Contact Phonetus" name="vendCntEmail"
                [(ngModel)]="temp_VendorObj.vendorContactEmail">
            </div>
        </div>

        <div class="col-12">
            <br>
            <p><b> CLIENT INFO:</b> </p>
        </div>
        <div class="form-row exp-form">

            <div class="form-group col-6">
              <label class="control-label" for="pwd">Client Name:</label>
              <input type="text" class="form-control" placeholder="Client Name" name="clientName"
                [(ngModel)]="temp_ClientObj.clientName">
            </div>
            <div class="form-group col-12">
              <label class="control-label" for="pwd">Address Line 1:</label>
              <input type="text" class="form-control address-req-2" placeholder="Full Address" name="clientAdd1"
                [(ngModel)]="temp_ClientAddressObj.addressLine1">
            </div>
            <div class="form-group col-12">
              <label class="control-label" for="pwd">Address Line 2:</label>
              <input type="text" class="form-control" placeholder="eg. building, suite..." name="clientAdd2"
                [(ngModel)]="temp_ClientAddressObj.addressLine2">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">City:</label>
              <input type="text" class="form-control address-req-2" placeholder="City" name="clientCity"
                [(ngModel)]="temp_ClientAddressObj.city">
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">State:</label>
                <select class="form-control address-req-2" type="text" placeholder="State" name="clientState"
                  [(ngModel)]='temp_ClientAddressObj.state'>
                <ng-container *ngFor="let state of getStates()">
                  <option>{{state.value}}</option> </ng-container>
                </select>
              </div>

            <div class="form-group col-4">
              <label class="control-label" for="pwd">Zip:</label>
              <input type="text" class="form-control address-req-2" placeholder="Postal Code" name="clientZip"
                [(ngModel)]="temp_ClientAddressObj.zipCode">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">HR/Manager:</label>
              <input type="text" class="form-control" placeholder="HR or Manager name" name="clientMan"
                [(ngModel)]="temp_ClientObj.clientHrName">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">Phone:</label>
              <input type="text" class="form-control" name="clientManPhone" placeholder="HR/Manager Phone"
                [(ngModel)]="temp_ClientObj.clientHrPhone">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">Email:</label>
              <input type="text" class="form-control" name="clientManEmail" placeholder="HR/Manager Email"
                [(ngModel)]="temp_ClientObj.clientHrEmail">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">Contact Name:</label>
              <input type="text" class="form-control" name="clientCntName" placeholder="Client Contact Name"
                [(ngModel)]="temp_ClientObj.clientContactName">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">Phone:</label>
              <input type="text" class="form-control" name="clientCntPhone" placeholder="Client Contact Phone"
                [(ngModel)]="temp_ClientObj.clientContactPhone">
            </div>
            <div class="form-group col-4">
              <label class="control-label" for="pwd">Email:</label>
              <input type="text" class="form-control" name="clientCntEmail" placeholder="Client Contact Email"
                [(ngModel)]="temp_ClientObj.clientContactEmail">
            </div>
            <br>
        </div>

        <div clas="col">
            <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
  </div>

  <div id="d-container" *ngIf="cur_employmentObj">
    <br>
    <div class="card  text-dark shadow-lg p-3 mb-5 bg-muted rounded">
      <div class="row justify-content-start">
        <p class="col-12"><b> Job Status: </b>{{cur_employmentObj.status}}<p>
            <p class="col-6"><b>Start Date: </b>{{cur_employmentObj.startDate}}<p>
                <p class="col-6"><b>End Date: </b>{{cur_employmentObj.endDate}}<p>
                    <p class="col-6"><b>Hourly Wage Receive: </b>{{cur_employmentObj.hourlyWageRecv}}<p>
                        <p class="col-6"><b>Hourly Wage Pay: </b>{{cur_employmentObj.hourlyWagePay}}<p>
                            <p class="col-12"><b>Reason for termination:</b>{{cur_employmentObj.termntnReason}}<p>
      </div>
    </div>

    <div class="card  text-dark shadow-lg p-3 mb-5 bg-muted rounded">
      <div class="row justify-content-start">
        <p class="col-12"><b>Employment Authorization Status: </b>{{cur_employmentObj.empAuthStatus}}<p>
            <p class="col-6"><b>Employment Authorization Start Date: </b>{{cur_employmentObj.empAuthStart}}<p>
                <p class="col-6"><b>Employment Authorization Expire Date:</b>{{cur_employmentObj.empAuthEnd}}<p>
      </div>
    </div>


    <div class="card  text-dark shadow-lg p-3 mb-5 bg-muted rounded">
      <div class="row justify-content-start">
        <p class="col-12"><b>Current Vendor: </b>{{cur_VendorObj.vendorName}}<p>
            <p class="col-12"><b>Address: </b>{{cur_VendorAddressObj.addressLine1}}<p>
                <p class="col-12"><b>Address 2: </b>{{cur_VendorAddressObj.addressLine2}}<p>
                    <p class="col-4"><b>State: </b>{{cur_VendorAddressObj.state}}<p>
                        <p class="col-4"><b>City: </b>{{cur_VendorAddressObj.city}}<p>
                            <p class="col-4"><b>Zip: </b>{{cur_VendorAddressObj.zipCode}}<p>
                                <p class="col-4"><b>Vendor Manager/HR: </b>{{cur_VendorObj.vendorHrName}}<p>
                                    <p class="col-4"><b>Vendor HR Email: </b>{{cur_VendorObj.vendorHrEmail}}<p>
                                        <p class="col-4"><b>Vendor HR Phone: </b>{{cur_VendorObj.vendorHrPhone}}<p>
      </div>
    </div>
    <div class="card  text-dark shadow-lg p-3 mb-5 bg-muted rounded">
      <div class="row justify-content-start">
        <p class="col-12"><b>Current Client: </b>{{cur_ClientObj.clientName}}<p>
            <p class="col-12"><b>Address: </b>{{cur_ClientAddressObj.addressLine1}}<p>
                <p class="col-12"><b>Address 2: </b>{{cur_ClientAddressObj.addressLine2}}<p>
                    <p class="col-4"><b>State: </b>{{cur_ClientAddressObj.state}}<p>
                        <p class="col-4"><b>City: </b>{{cur_ClientAddressObj.city}}<p>
                            <p class="col-4"><b>Zip: </b>{{cur_ClientAddressObj.zipCode}}<p>
                                <p class="col-4"><b>Client Manager/HR: </b>{{cur_ClientObj.clientHrName}}<p>
                                    <p class="col-4"><b>Client HR Email: </b>{{cur_ClientObj.clientHrEmail}}<p>
                                        <p class="col-4"><b>Client HR Phone: </b>{{cur_ClientObj.clientHrPhone}}<p>
      </div>
    </div>



    <div class="card  text-dark shadow-lg p-3 mb-5 bg-muted rounded">
      <div class="row justify-content-start">

        <p class="col"><b>Job Title: </b>{{cur_employmentObj.jobTitle}}<p>
            <p class="col"><b>Technology: </b>{{cur_employmentObj.technology}}<p>
                <p class="col"><b>Job Description: </b>{{cur_employmentObj.jobDesc}}<p>
      </div>

    </div>
    <p style="color:gray">Last Updated: {{cur_employeeObj.lastUpdated}}</p>

  </div>