<div class="card bg-light text-dark" id="wrapper">


  <div id="search-wrapper" *ngIf="employee == null">
    <div id="search-container">
      <form>

        <div class="form-row">
          <div class="form-group col-md-8">
            <div class="input-group" style="border: 1px solid gray; border-radius: 5px;">
              <input type="text" class="form-control" style="border: 0px solid gray; padding-left: 3px;" matInput
                [formControl]="myControl" placeholder="Search..." [matAutocomplete]="auto">

              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <mat-form-field>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredEmployees | async" (onSelectionChange)="onSearchSearch(option)"
              [value]="option.firstName+' '+ option.lastName">
              {{option.firstName + " " + option.lastName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>




  <div *ngIf="employee != null">
        <div id="content-wrapper" class="card bg-light">
      <router-outlet></router-outlet>
    </div>
    <div id="nav-wrapper">
      <ul class="nav nav-pills">
        <li class="active bg-info"><a data-toggle="pill" [routerLink]="['Enroll']"><b>Portfolio</b></a></li>
        <li class="bg-info"><a data-toggle="pill" [routerLink]="['experience']"><b>Employment</b></a></li>
        <li class="bg-info"><a data-toggle="pill" [routerLink]="['documents']"><b>Documents</b></a></li>
        <li class="bg-info"><a data-toggle="pill" [routerLink]="['documents']"><b>Immigration</b></a></li>
      </ul>
    </div>


  </div>
</div>