<div id="container">

    <div id = "no-data" *ngIf="employee == null">
        <p></p>
    </div>

    <div *ngIf="employee">
        <div id = "profile-pic-wrapper">
                <img id="profile-pic" src={{getProfilePic()}} style=" border-radius: 50%; width: 150px; height: 150px;" alt="Card image">
                <button id="profile-pic-uploader-btn" class="btn" onclick="document.getElementById('profile-pic-uploader').click()">
                        <i class="fa fa-edit"></i>
                </button>
                <input id="profile-pic-uploader" (change)="fileChange($event)" type="file" name="profile-pic" style="display: none;">
        </div>

        <div class="card bg-light text-dark">
                <div class="card-body">
                        <span><b>Employee Id: </b>{{employee.employeeId}}</span>
                        <span><b>Current Status: </b>{{curEmploymentObj ? curEmploymentObj.status : "na"}}</span>
                        <br>                
                </div>
        </div>
        <div class="card bg-light text-dark">
                <div class="card-body">
                        <span><b>First Name: </b>{{employee.firstName}}</span>
                        <span><b>Middle Name: </b>{{employee.middleName}}</span>
                        <span><b>Last Name:</b>{{employee.lastName}}</span>
                        <br>
                        <br>
                        <span><b>DOB: </b>{{employee.dob}}</span>
                        <span><b>Phone 1: </b>{{employee.phone}}</span>
                        <span><b>Phone 2: </b>{{employee.phone}}</span>
                        <br>
                        <br>
                        <span><b>Email 1 </b>{{employee.email}}</span>
                        <span><b>Email 2: </b>{{employee.email}}</span>
                        <br>
                        <br>                
                        <span><b>SSN: </b>{{employee.ssn}}</span>
                        <br>
                        <br>
                        <div class="btn-group" style="width: 200px;">
                                <button type="button" class="btn btn-primary">Send Email</button>
                                <button type="button" class="btn btn-primary">Send Text</button>
                        </div>
                </div>
        </div>

        <div class="card bg-light text-dark">
                <div class="card-body">
                        <span><b>Joined on: </b>{{employee.joinedOn}}</span>
                        <span><b>Hired on: </b>{{employee.hiredOn}}</span>
                        <br>
                        <br>
                        <span><b>Recruier: </b>{{employee.recruiter}}</span>
                        <span><b>Manager/HR: </b>{{employee.manager}}</span>
                        <br>
                </div>
        </div>
        
        <div class="card bg-light text-dark">
                <div class="card-body">
                        <span><b>Current Vendor: </b>{{curEmploymentObj ? curEmploymentObj.vendor.vendorName: "na"}}</span>
                        <br>
                        <span><b>Address: </b>{{curEmploymentObj ? curEmploymentObj.vendor.vendorAddress.addressLine1: "na"}}</span>
                        <br>
                        <span><b>State: </b>{{curEmploymentObj ? curEmploymentObj.vendor.vendorAddress.state: "na"}}</span>
                        <br>
                        <span><b>City: </b>{{curEmploymentObj ? curEmploymentObj.vendor.vendorAddress.city: "na"}}</span>
                        <br>
                        <span><b>City: </b>{{curEmploymentObj ? curEmploymentObj.vendor.vendorAddress.zipCode: "na"}}</span>
                        <br>
                        <br>
                        <span><b>Current Client: </b>{{curEmploymentObj ? curEmploymentObj.client.clientName: "na"}}</span>
                        <br>
                        <span><b>Address: </b>{{curEmploymentObj ? curEmploymentObj.client.clientAddress.addressLine1: "na"}}</span>
                        <br>
                        <span><b>State: </b>{{curEmploymentObj ? curEmploymentObj.client.clientAddress.state: "na"}}</span>
                        <br>
                        <span><b>City: </b>{{curEmploymentObj ? curEmploymentObj.client.clientAddress.city: "na"}}</span>
                        <br>
                        <span><b>City: </b>{{curEmploymentObj ? curEmploymentObj.client.clientAddress.zipCode: "na"}}</span>
                        <br>
                
                </div>
        </div>

        <div class="card bg-light text-dark">
                <div class="card-body">
                        <p style="color:gray">Last Updated: {{employee.lastUpdated}}</p>
                </div>
        </div>
    </div>

</div>