#container{
padding: 1px;
 width: 100%;
 display: inline-block;
}

#todaysOverview{
	width:100%;
	color: whitesmoke;
	height: 50px;
	padding: 5px;
	background-color: rgb(47, 49, 48);	
	margin-bottom: 10px;

}
#employeeChartWrapper{
	background-color: rgb(47, 49, 48);	
	padding: 5px;	
	float: left;
	width: 60%;
	height: 330px;
}
#studentPieWrapper{	
	background-color: rgb(47, 49, 48);	
	float: right;
	padding: 10px;
	width: 38%;
	margin-left: 2%;
	height: 330px;;
}

#vendorChartWrapper{
	background-color: rgb(47, 49, 48);	
	margin-top: 15px;
	padding: 5px;
	float: left;
	width: 49%;
	height: 330px;
	
}

#monthlyChartWrapper{
	background-color: rgb(47, 49, 48);	
	margin-top: 15px;
	padding: 5px;
	float: left;
	width: 50%;
	margin-left: 1%;
	height: 330px;
}
