.page-wrapper{
    width: 100%;
    display: inline-block;
    display: relative;
}



#content-wrapper{

    margin-left: 263px;
    min-height: 600px;
    border:0px solid gray;
    padding: 0px;
    min-height: 800px;
    width: auto;
    padding-left: 1px;
    position: relative;

}